@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Hola Admin</h1>
    <button id="Create">Create</button>
    <button id="Read">Read</button>
    <button id="Update">Update</button>
    <button id="Delete">Delete</button>
</div>
