@{
    ViewData["Title"] = "Login Page";
}
@model AmediaChallenge.ViewModels.LoginViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form asp-controller="LoginController" asp-action="Authenticate" method="post" id="loginForm" role="form">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label class="form-label" asp-for="Username"></label>
                @Html.TextBoxFor(x => x.Username, new { @required = "required", @class = "form-control" })
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label class="form-label" asp-for="Password"></label>
                @Html.TextBoxFor(x => x.Password, new { @required = "required", @class = "form-control", @type = "password" })
            </div>
        </div>
        <button type="submit">Login</button>
    </form>
</div>
